$white:#ffffff;
$black: #000000;
$red: #F20505;
$orange: #E27F00;
$yellow: #FFD168;
$white-grey: #F6F3F3;
$light-grey:#DDDADA;
$lighter-grey: #DDDDDD;
$medium-grey: #C1C1C1;
$grey: #9F9E9E;
$grey-grey: #6C6C6C;
$dark-grey: #585757;
$black-grey: #474747;
$graphite: #3F3F3F;
$red-grey: #1E090626;
