.button {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  &:hover {
    border-color: rgba($dark-grey, 0.7);
  }

  &:focus {
    background-color: $orange-focus;
  }
}
