.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 740px;
  height: min-content;
  padding: 30px 50px;
  z-index: 2;
  background-color: $white;
  box-shadow: 0 5px 6px $graphite;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transform: scale(0.5);
  transition: 1s all;

  &--active {
    transform: scale(1);
    transition: 1s all;
  }
}

.modal__close-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__button {
  height: 46px;
  margin-left: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  &--action {
    min-width: 220px;
    background: $orange;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.08em;

    &:hover {
      background-color: $orange-hover;
    }

    &:focus {
      background-color: $orange-focus;
    }
  }

  &--second-action {
    border: 1px solid $dark-grey;
    color: $dark-grey;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.08em;
    background-color: $white;

    &:hover {
      border-color: rgba($dark-grey, 0.7);
      opacity: .7;
    }

    &:focus {
      border-color: rgba($grey-grey, 0.5);
      opacity: .5;
    }
  }

  &--success {
    margin-left: 0;
  }
}

.modal__title {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin: 0 0 25px;
}

.modal__content {
  display: flex;
  width: 100%;

  &--success-block {
    justify-content: center;
    gap: 37px;
  }
}

.modal__image {
  width: 56px;
  height: 128px;
}

.modal__product-info {
  margin: 14px 40px;
}

.modal__buttons {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
}
