.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  column-gap: 40px;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav__item {

}

.nav__link {
  font-size: 14px;
  letter-spacing: 0.08em;
  color: $black;

  &:hover {
    color: $black-grey;
  }

  &:focus {
    color: $black-grey;
    opacity: 50%;
  }
}
