.product-info {

}

.product-info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.product-info__article {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.08em;
  margin-top: 14px;
  margin-bottom: 6px;
}

.product-info__info {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.08em;
  margin: 0;
}

.product-info__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.08em;
  margin-top: 20px;
}
