.social {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin-top: -6px;
  max-width: 120px;
}

.social__link {
  color: $white;
  fill: currentColor;

  &:hover {
    color: $grey;
  }

  &:focus {
    color: $grey-grey;
  }
}
