.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-size: 14px;
  letter-spacing: 0.08em;
  color: $black;

  &:hover {
    color: $black-grey;
  }

  &:active {
    color: $black-grey;
    opacity: .5;
    outline: none;
  }
}
